#advancedStats {
  background-color: #191B1F;
  float: right;
  width: 27vh;
  height: 90vh;
  margin-right: 0px;
  z-index: 1;
  background-color: 191b1f;
  color: white;
  transition: all 0.15s ease-in-out;
  box-shadow: -10px 10px 10px -10px black;
  margin-right: -20vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
}

.stat {
  background-color: #2B2F36;
  margin-top: 0px;
  position: relative;
  padding: 5px 5px 5px;
  margin-bottom: 10px;
}

.likeText {
  font-size: 1.2vw;
  margin-bottom: 3px;
  margin-top: 0vh;
}

#untilWeekend {
  font-weight: Bold;
  font-size: 1.2vw;
  margin-top: 3px;
  color: #FF1C3E;
  margin-bottom: 0px;
}

#until1Quarter {
  font-weight: Bold;
  font-size: 1.2vw;
  margin-top: 3px;
  color: #FF1C3E;
  margin-bottom: 0px;
}
#until2Quarter {
  font-weight: Bold;
  font-size: 1.2vw;
  margin-top: 3px;
  color: #FF1C3E;
  margin-bottom: 0px;
}
#until3Quarter {
  font-weight: Bold;
  font-size: 1.2vw;
  margin-top: 3px;
  color: #FF1C3E;
  margin-bottom: 0px;
}
#until4Quarter {
  font-weight: Bold;
  font-size: 1.2vw;
  margin-top: 3px;
  color: #FF1C3E;
  margin-bottom: 0px;
}

#schoolEnd {
  font-weight: Bold;
  font-size: 1.2vw;
  margin-top: 3px;
  color: #FF1C3E;
  margin-bottom: 0px;
}
