#advancedStats {
  background-color: #191B1F;
  float: right;
  width: 27vh;
  height: 100%;
  margin-right: 0px;
  z-index: 1;
  background-color: 191b1f;
  color: white;
  transition: all 0.15s ease-in-out;
  box-shadow: -10px 10px 10px -10px black;
  margin-right: -20vw;
  margin-top: 0vh;
  margin-bottom: 1vh;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
}

.stat {
  background-color: #2B2F36;
  margin-top: 0px;
  position: relative;
  padding: 5px 5px 5px;
  margin-bottom: 10px;
  height: 9% ;
  vertical-align: middle;
}

.likeText {
  font-size: 2.5vh;

  vertical-align: middle;
margin: 4% 0;
  
}


.timeValueAdvanced {
  font-weight: Bold;
  font-size: 50%;
  margin-top: 3px;
  color: #FF1C3E;
  margin-bottom: 0px;
  vertical-align: middle;
  font-size: 2.5vh;
  margin-bottom: -3;
}
