body {
  margin: 0 0 0 0;
  height: 100%;
}

#values {
  color: #f1f1f1;
  font-size: 0px;
}

#preset {
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 20px;
  font-size: 1.3em;
}

#custom {
  font-weight: bold;
  margin-top: 0px;
  font-size: 1.3em;
}

#colorOptions {
  margin-top: 10px;
  background-color: 4a4d5c;
  color: white;
  width: 80%;
  height: 30px;
  font-size: 0.8em;
  font-weight: bold;
  transition: all 0.1s ease-in-out;
  border: none;
}

#colorOptions:hover {
  background-color: 6c7187;
}

#colorOptions:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
#colorOptions:enabled {
  outline: 0;
}

#presets {
  margin-top: 10px;
  background-color: 4a4d5c;
  color: white;
  width: 80%;
  height: 30px;
  font-size: 0.8em;
  font-weight: bold;
  transition: all 0.1s ease-in-out;
  border: none;
}
#presets:hover {
  background-color: 6c7187;
}

#presets:focus {
  outline: 0;
}

#schoolScheduleTxt {
  color: white;


  font-size: 4vh;
  margin: 5px 3px;
  margin-bottom: -5;
  margin-top: 2vh;

}

#tabTxt {
  color: white;
  font-weight: bold;
  margin-top: 50px;
  font-size: 4vh;
  margin-top: 0px;
  margin-bottom: 5px;
  transition: all 0.1s ease-in-out;
}

#lunchTxt {
  color: white;
  font-weight: bold;
  font-family: "Ramabhadra", sans-serif;
  font-size: 16px;
  margin-top: 25px;
  margin-bottom: 0px;
}

#dayContainer,
#dayContainerKey {
  background-color: #191B1F;
  height: 100%;
  padding: 5px 20px;
  margin: 0px 0px 0px 0px;
  float: right;
  -webkit-box-shadow: 0 0 10px 2px black;
  -moz-box-shadow: 0 0 10px 2px black;
  box-shadow: 0 0 10px 2px black;
  marign-left:0px;
  display:block;
  z-index: 10000;
  position: relative;
}

#yearContainer {
  background-color: #191B1F;
  display: inline-block;
  margin-top: 0px;
  padding: 0px 0px 0px 0px;
}
#daySelectTxt {
  color: white;
  font-size: 3vh;
  font-family: "Ramabhadra", sans-serif;
  display: inline-block;
  position: static;
  margin-top: 1vh;
  position: relative;
  top: 0vh;
}

#daySelectTxt2,
#daySelectTxt3 {
  color: white;
  font-size: 3vh;
  font-family: "Ramabhadra", sans-serif;
  display: inline-block;
  margin-top: -150px;
  padding-top: 50px;
  position: relative;
  top: 0vh;
}

#daySelectTxt4 {
  color: white;
  font-size: 3vh;
  font-family: "Ramabhadra", sans-serif;
  display: inline-block;
  margin-top: -150px;
  padding-top: 50px;
  margin-bottom: 20px;
  position: relative;
  top: 0vh;
}
